@charset "windows-1251";

table {
    background-color: white;
    font-size: 14px;
    font-family: Arial;
    width: 650px;
    border-collapse: collapse;
    border: 1px solid black;
    border-color: black;
}

tr:nth-child(2n+1) {
    background-color: #EAD4D4;
}

table tr th {
    background-color: #009900;
    font-weight: normal;
    color: white;
    font-size: 17px;
    border: 1px solid black;
    border-top: none;
    border-bottom: none;
    width: 110px;
    height: 25px;
    text-align: left;
    padding: 5px;
}

td {
    border: 1px solid black;
    border-top: none;
    border-bottom: none;
    padding: 10px;
    width: 110px;
    height: 20px;
}

a {
    padding: 1px;
    font-size: 2em;
    text-shadow: 6px 6px #C7C7C2;
    display: inline-block;
    height: 40px;
    line-height: 40px;
}

    a:hover {
        text-shadow: 2px 2px #C7C7C2;
        padding-left: 5px;
        padding-top: 5px;
    }
