body {
    padding-top: 50px;
}

div#container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.jumbotron {
    border-radius: 5px;
    padding: 48px 60px;
}

input {
    max-width: 400px;
}

div[role="alert"].ng-active {
    /*float: left;*/
    /* margin-top: -2%; */
    /* position: absolute; */
    width: 120%;
    height: 0;
    /*position: relative;
    top: -30px;
    left: 72%;*/
}

input.ng-invalid.ng-dirty {
    border-color: #C00;
}

div[role="alert"].ng-active div[ng-message].ng-scope:before {
    content: "";
    border-right: 10px solid #ccc;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    display: inline-block;
    /*float: left;*/
    position: relative;
    left: -22px;

}

div[role="alert"].ng-active div[ng-message].ng-scope {
    background: #ccc;
    display: inline;
    color: #C00;
    padding: 10px;
    border-radius: 6px;
    box-shadow: white 0 0 9px 0;
    border: 1px solid #FFF;
}

div.btn-group label.btn.btn-default{
    width: 51px;
    height: 50px;
    border: 2px solid #2a9fd6;
}

div.btn-group label.btn.btn-default.active{
    width: 51px;
    height: 50px;
    border: 2px solid #2a9fd6;
    box-shadow: white 0 0 2px 2px;
}

label.green-circle-background {
    background-size: 40px 40px !important;
    background-image: url("../img/greenCircle_128.png") !important;
    background: no-repeat 5px 5px;
}

label.red-X-symbol-background {
    background-size: 40px 40px !important;
    background-image: url("../img/reg_X_symbol_128.png") !important;
    background:  no-repeat 5px 5px ;
}

label.btn.btn-default.tile-hove-warning:hover {
    box-shadow: #ff8800 0 0 2px 2px inset;
}