<div  class="btn-group">
    <label class="btn btn-default tile-hove-warning {{gameInfo.Board[0] | backgroundImageFilter}}" ng-model="tile" ng-click="setTile(1, 1)" uib-btn-radio="{row: 1, col: 1 }" > </label>
    <label class="btn btn-default tile-hove-warning {{gameInfo.Board[1] | backgroundImageFilter}}" ng-model="tile" ng-click="setTile(1, 2)" uib-btn-radio="{row: 1, col: 2 }" > </label>
    <label class="btn btn-default tile-hove-warning {{gameInfo.Board[2] | backgroundImageFilter}}" ng-model="tile" ng-click="setTile(1, 3)" uib-btn-radio="{row: 1, col: 3 }" > </label>
    <br/>
    <label class="btn btn-default tile-hove-warning {{gameInfo.Board[3] | backgroundImageFilter}}" ng-model="tile" ng-click="setTile(2, 1)" uib-btn-radio="{row: 2, col: 1 }" > </label>
    <label class="btn btn-default tile-hove-warning {{gameInfo.Board[4] | backgroundImageFilter}}" ng-model="tile" ng-click="setTile(2, 2)" uib-btn-radio="{row: 2, col: 2 }" > </label>
    <label class="btn btn-default tile-hove-warning {{gameInfo.Board[5] | backgroundImageFilter}}" ng-model="tile" ng-click="setTile(2, 3)" uib-btn-radio="{row: 2, col: 3 }" > </label>
    <br/>
    <label class="btn btn-default tile-hove-warning {{gameInfo.Board[6] | backgroundImageFilter}}" ng-model="tile" ng-click="setTile(3, 1)" uib-btn-radio="{row: 3, col: 1 }" > </label>
    <label class="btn btn-default tile-hove-warning {{gameInfo.Board[7] | backgroundImageFilter}}" ng-model="tile" ng-click="setTile(3, 2)" uib-btn-radio="{row: 3, col: 2 }" > </label>
    <label class="btn btn-default tile-hove-warning {{gameInfo.Board[8] | backgroundImageFilter}}" ng-model="tile" ng-click="setTile(3, 3)" uib-btn-radio="{row: 3, col: 3 }" > </label>
    <br/>
</div>