<div  class="btn-group">
    <label class="btn btn-default" ng-model="tile" ng-click="setTile(1, 1)" uib-btn-radio="{row: 1, col: 1 }" > {{gameInfo.Board[0] | renderSymbol}}</label>
    <label class="btn btn-default" ng-model="tile" ng-click="setTile(1, 2)" uib-btn-radio="{row: 1, col: 2 }" > {{gameInfo.Board[1] | renderSymbol}}</label>
    <label class="btn btn-default" ng-model="tile" ng-click="setTile(1, 3)" uib-btn-radio="{row: 1, col: 3 }" > {{gameInfo.Board[2] | renderSymbol}}</label>
    <br/>
    <label class="btn btn-default" ng-model="tile" ng-click="setTile(2, 1)" uib-btn-radio="{row: 2, col: 1 }" > {{gameInfo.Board[3] | renderSymbol}}</label>
    <label class="btn btn-default" ng-model="tile" ng-click="setTile(2, 2)" uib-btn-radio="{row: 2, col: 2 }" > {{gameInfo.Board[4] | renderSymbol}}</label>
    <label class="btn btn-default" ng-model="tile" ng-click="setTile(2, 3)" uib-btn-radio="{row: 2, col: 3 }" > {{gameInfo.Board[5] | renderSymbol}}</label>
    <br/>
    <label class="btn btn-default" ng-model="tile" ng-click="setTile(3, 1)" uib-btn-radio="{row: 3, col: 1 }" > {{gameInfo.Board[6] | renderSymbol}}</label>
    <label class="btn btn-default" ng-model="tile" ng-click="setTile(3, 2)" uib-btn-radio="{row: 3, col: 2 }" > {{gameInfo.Board[7] | renderSymbol}}</label>
    <label class="btn btn-default" ng-model="tile" ng-click="setTile(3, 3)" uib-btn-radio="{row: 3, col: 3 }" > {{gameInfo.Board[8] | renderSymbol}}</label>
    <br/>
</div>


<!-- ng-model="tile"  uib-btn-radio="{row: 1, col: 1 }"-->