<div class="panel panel-info">
    <div class="panel-heading">
        <h3 class="panel-title">Game rules & description</h3>
    </div>
    <div class="panel-body " style="padding: 30px;">
            <!-- 'X' must be a picture or something cool-->
            <div class="row" >You first start with <img src="../img/reg_X_symbol_128.png" alt="X" width=35 /></div>
            <div class="row" > Allowed Symbols are <img src="../img/reg_X_symbol_128.png" alt="X" width=35 /> & <img src="../img/greenCircle_128.png" alt="O" width=35/>
                <div  style="width: 20%">
                <table class="table table-striped table-bordered table-hover  ">
                    <tbody class="text-center">
                    <tr >
                        <td ><img src="../img/greenCircle_128.png" alt="O" width=35/></td>
                        <td ><img src="../img/greenCircle_128.png" alt="O" width=35/></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td ><img src="../img/reg_X_symbol_128.png" alt="X" width=35 /></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td ><img src="../img/reg_X_symbol_128.png" alt="X" width=35 /></td>
                    </tr>
                    </tbody>
                </table>
                </div>
            </div>

            <div class="row" > Your task is to make first three of your symbols in a row <span class="text-info">(horizontal, vertical, diagonal)</span>;
                <div  style="width: 20%">
                    <table class="table table-striped table-bordered table-hover  ">
                        <tbody class="text-center">
                        <tr >
                            <td></td>
                            <td><img src="../img/greenCircle_128.png" alt="O" width=35/></td>
                            <td></td>
                        </tr>
                        <tr class="info">
                            <td><img src="../img/reg_X_symbol_128.png" alt="X" width=35 /></td>
                            <td><img src="../img/reg_X_symbol_128.png" alt="X" width=35 /></td>
                            <td><img src="../img/reg_X_symbol_128.png" alt="X" width=35 /></td>
                        </tr>
                        <tr >
                            <td></td>
                            <td><img src="../img/greenCircle_128.png" alt="O" width=35/></td>
                            <td></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="row">
                How to play: click on the tile, then <em>Play</em> button.<a href="#" class="btn btn-primary disabled">Play</a>
            </div>
    </div>
    <div class="text-center"><a href="#" ng-click="vm.createGame()" class="btn btn-info">Create</a></div>
    <hr/>
</div>