<!-- This is for home template-->
<div id="container" >
    <div class="jumbotron" style="height: 1200px;">
        <h1>Tic-Tac-Toe Game</h1>

        <p>Welcome to the most scary game in the universe. Be the first who makes three in a row.</p>

        <p><a class="btn btn-primary btn-lg">Download</a>
            <a ng-click="vm.userName()" class="btn btn-primary btn-lg">Game Rules</a></p>
        <hr />
        <table class="table table-striped table-hover table-responsive table-bordered">
            <tbody>
            <tr class="text-center">
                <td><img src="" ng-src="{{hm.screen1}}" alt="ScreenShot1"/></td>
                <td><img src="" ng-src="{{hm.screen2}}" alt="ScreenShot2"/></td>
                <td><img src="" ng-src="{{hm.screen3}}" alt="ScreenShot3"/></td>
            </tr>
            </tbody>
        </table>

        <div class="row">
            <div class="text-center">
                <img src="" ng-src="{{hm.logo}}" alt="logo"/>
            </div>
        </div>
    </div>
</div>