body {
    font-family: Arial;
    padding: 10px;
}

h1 {
    font-size: 30px;
}

aside {
    width: 50%;
    position: fixed;
    right: 10px;
}

h3 {
    font-size: 24px;
}

textarea {
    resize: none;
    width: 98%;
    font-size: 20px;
    font-family: Consolas;
    border: 3px groove #808080;
    background-color: black;
    color: white;
    padding: 5px;
}

textarea::selection{
    color: black;
    background-color: white;
}

section {
    width: 48%;
    box-sizing: border-box;
    padding: 10px;
}

form {
    margin: 10px 0;
}

form p {
    font-style: italic;
}
form p.example{
    font-style: normal;
    background-color: lightgray;
    font-family: Consolas;
    padding: 20px;
}

ul > li {
    margin: 5px 0;
    font-size: 16px;
}

li > span {
    background-color: lightgray;
    padding: 0 5px;
}

input[type="number"] {
    width: 70px;
    text-align: center;

}

label {
    font-size: 25px;
    font-weight: bold;
    border-bottom: 3px ridge gray;
}

table {
    border-collapse: collapse;
    border-spacing: 0px;
}

table tr td, th {
    text-align: center;
    padding: 10px;
    border: 1px solid #DDD;
}

ul li a {
    text-decoration: none;
    color: #569cd6;
}

ul li ul{
    list-style-type: circle;
}

ul li a:hover {
    text-decoration: underline;
}