@model IEnumerable<Data.Models.Tweet>

@{
    ViewBag.Title = "Index";
}

<h2>Administration</h2>

<h3>Tweets</h3>

@*  @<form action="Delete"> <button class="btn btn-danger">Delete</button> </form> *@

@(Html.Kendo()
            .Grid(Model)
            .Name("grid")
            .Columns(colums =>
            {
                colums.Bound(m => m.Content).HtmlAttributes( new { @class= "content" }).Width(400);
                colums.Bound(m => m.DatePosted);
                colums.Bound(m => m.User.UserName);
                colums.Template(@<text>
                                        <form method="post" action="/Admin/Delete/@item.Id">
                                            <button class="btn btn-danger">
                                                Delete
                                            </button>
                                        </form>
                                </text>
                ).Title("Options");
                colums.Template(@<text>
                                        @foreach (var tag in item.Tags)
                                        {
                                            <a href="#" class="k-button" >#@tag.Name</a>
                                        }
                                </text>).Title("Tags");
            })
            .Pageable()
            .Sortable())
