USE [master]
GO
/****** Object:  Database [TransactSQL]    Script Date: 21/10/2015 00:19:59 ******/
CREATE DATABASE [TransactSQL]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TransactSQL', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\TransactSQL.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'TransactSQL_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\TransactSQL_log.ldf' , SIZE = 2048KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TransactSQL].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TransactSQL]
GO
/****** Object:  UserDefinedFunction [dbo].[ufn_CalculateSumAfterMonths]    Script Date: 21/10/2015 00:19:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--ALTER PROCEDURE dbo.usp_CalculateSumAfterMonths
--				(@sum money, @interestRate money, @months int)
--AS
--	SELECT (((@interestRate / 12)* 10) * @months) + @sum AS [Your money]

--GO

--EXEC usp_CalculateSumAfterMonths 1000, 3.5, 12

---- There also a better solution to calculate to days, but it also works.

CREATE FUNCTION [dbo].[ufn_CalculateSumAfterMonths]
				(@sum money, @interestRate money, @months int)
		RETURNS money
AS
	BEGIN
	RETURN (((@interestRate / 12)* 10) * @months) + @sum
	END

GO
/****** Object:  Table [dbo].[Accounts]    Script Date: 21/10/2015 00:19:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Accounts](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[PersonID] [int] NOT NULL,
	[Balance] [money] NOT NULL,
 CONSTRAINT [PK_Accounts] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Logs]    Script Date: 21/10/2015 00:19:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Logs](
	[LogID] [int] IDENTITY(1,1) NOT NULL,
	[AccountID] [int] NOT NULL,
	[OldBalance] [money] NOT NULL,
	[NewBalance] [money] NOT NULL,
 CONSTRAINT [PK_Logs] PRIMARY KEY CLUSTERED 
(
	[LogID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Persons]    Script Date: 21/10/2015 00:19:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Persons](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[First Name] [nvarchar](50) NOT NULL,
	[Last Name] [nvarchar](50) NOT NULL,
	[SSN] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Persons] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Accounts] ON 

INSERT [dbo].[Accounts] ([ID], [PersonID], [Balance]) VALUES (1, 1, 1000.0000)
INSERT [dbo].[Accounts] ([ID], [PersonID], [Balance]) VALUES (2, 2, 971.0000)
INSERT [dbo].[Accounts] ([ID], [PersonID], [Balance]) VALUES (3, 3, 121015.8330)
SET IDENTITY_INSERT [dbo].[Accounts] OFF
SET IDENTITY_INSERT [dbo].[Logs] ON 

INSERT [dbo].[Logs] ([LogID], [AccountID], [OldBalance], [NewBalance]) VALUES (1, 5, 600.0000, 822.0000)
SET IDENTITY_INSERT [dbo].[Logs] OFF
SET IDENTITY_INSERT [dbo].[Persons] ON 

INSERT [dbo].[Persons] ([ID], [First Name], [Last Name], [SSN]) VALUES (1, N'Ivan', N'Kostov', N'22212')
INSERT [dbo].[Persons] ([ID], [First Name], [Last Name], [SSN]) VALUES (2, N'Preslav', N'Prtrov', N'22213')
INSERT [dbo].[Persons] ([ID], [First Name], [Last Name], [SSN]) VALUES (3, N'Ignat', N'Pavlov', N'22214')
SET IDENTITY_INSERT [dbo].[Persons] OFF
ALTER TABLE [dbo].[Accounts]  WITH CHECK ADD  CONSTRAINT [FK_Accounts_Persons1] FOREIGN KEY([PersonID])
REFERENCES [dbo].[Persons] ([ID])
GO
ALTER TABLE [dbo].[Accounts] CHECK CONSTRAINT [FK_Accounts_Persons1]
GO
ALTER TABLE [dbo].[Logs]  WITH CHECK ADD  CONSTRAINT [FK_Logs_Accounts] FOREIGN KEY([AccountID])
REFERENCES [dbo].[Accounts] ([ID])
GO
ALTER TABLE [dbo].[Logs] CHECK CONSTRAINT [FK_Logs_Accounts]
GO
/****** Object:  StoredProcedure [dbo].[usp_CalculateSumAfterMonths]    Script Date: 21/10/2015 00:19:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[usp_CalculateSumAfterMonths]
				(@sum money, @interestRate money, @months int)
AS
	SELECT (((@interestRate / 12)* 10) * @months) + @sum AS [Your money]


GO
/****** Object:  StoredProcedure [dbo].[usp_Deposit]    Script Date: 21/10/2015 00:19:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[usp_Deposit](@id int, @money money)
AS
	DECLARE @personMoney money = (SELECT Balance FROM Accounts
							WHERE PersonID = @id)
	BEGIN TRANSACTION

	UPDATE Accounts
		SET Balance = Balance + @money
		WHERE PersonID = @id
	IF @@ROWCOUNT <> 1
	BEGIN
		ROLLBACK
		RAISERROR('Invalid ID', 16, 1);
		RETURN
	END
	COMMIT

GO
/****** Object:  StoredProcedure [dbo].[usp_FindAllPersonsThatHaveBalanceHigherThan]    Script Date: 21/10/2015 00:19:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[usp_FindAllPersonsThatHaveBalanceHigherThan]
				 (@balanceMoreThan money)
AS
	SELECT  p.[First Name], p.[Last Name], a.Balance
	FROM [Persons] p
	JOIN [Accounts] a ON p.ID = a.PersonID
	WHERE a.Balance > @balanceMoreThan

GO
/****** Object:  StoredProcedure [dbo].[usp_GivePersonInterasteRate]    Script Date: 21/10/2015 00:19:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[usp_GivePersonInterasteRate]
			(@AccountID int ,@interestRate money)
AS
	 DECLARE @money int = (SELECT Balance FROM Accounts
					WHERE PersonID = @AccountID)

	UPDATE Accounts
	 SET Balance= dbo.ufn_CalculateSumAfterMonths(@money, @interestRate, 1)
	 WHERE PersonID = @AccountID

GO
/****** Object:  StoredProcedure [dbo].[usp_SelectFullNamesFromPersons]    Script Date: 21/10/2015 00:19:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[usp_SelectFullNamesFromPersons]
AS 
	SELECT p.[First Name] + ' ' + p.[Last Name] AS [FullName]
	FROM [Persons] p

GO
/****** Object:  StoredProcedure [dbo].[usp_Withdraw]    Script Date: 21/10/2015 00:19:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[usp_Withdraw](@id int, @money money)
AS
	DECLARE @personMoney money = (SELECT Balance FROM Accounts
							WHERE PersonID = @id)
	BEGIN TRANSACTION

	IF @personMoney <= @money
	BEGIN
		ROLLBACK
		RAISERROR('Not enough money!', 16, 1);
		RETURN
	END

	UPDATE Accounts
		SET Balance = Balance - @money
		WHERE PersonID = @id
	IF @@ROWCOUNT <> 1
	BEGIN
		ROLLBACK
		RAISERROR('Invalid ID', 16, 1);
		RETURN
	END
	COMMIT

GO
USE [master]
GO
