@model MVC.Models.CalculateModel
@{
    ViewBag.Title = "Form";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Sum two numbers</h2>
@using (Html.BeginForm("Sum", "Calculate", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
<div class="form-group">
        @Html.LabelFor(m => m.FirstNumber, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.FirstNumber, new { @class = "form-control", @type="Number"})
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.SecondNumber, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.SecondNumber, new { @class = "form-control", @type = "Number" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="Calculate" />
        </div>
    </div>
}
