nav.navbar.navbar-inverse
    ul.nav.navbar-nav.navbar-left
        each link in links
            li
                a.text-capitalize(href=link.href, title=link.title)
                    h4= link.title