
@{
    ViewBag.Title = "Search";
}

<h2>Search a category:</h2>
<div class="form-group">
    <label for="text" class="control-label">Type:</label>
    <input type="text" value="" placeholder="category name..." class="form-control" />
    <button class="btn btn-default">Click</button>
</div>

@section breadcrumb
    {
    <ul class="breadcrumb">
        <li><a href="#">Shop</a></li>
        <li><a href="#">Categories</a></li>
        <li class="active">Search</li>
    </ul>
}
