<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IOccuranceCounting" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:1948/Occurances" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IOccuranceCounting"
                contract="IOccuranceCounting" name="BasicHttpBinding_IOccuranceCounting" />
        </client>
    </system.serviceModel>
</configuration>